@{
    ViewData["Title"] = "Settings";
}

<a asp-controller="Database" asp-action="Index"><button class="btn-primary">Database List</button></a>
<a asp-controller="Okolina" asp-action="Index"><button class="btn-primary">Okolina List</button></a>
<a asp-controller="App" asp-action="Index"><button class="btn-primary">App List</button></a>
<a asp-controller="AppDatabase" asp-action="Index"><button class="btn-primary">App/Database</button></a>
<a asp-controller="AppBazaOkolina" asp-action="Index"><button class="btn-primary">App/Database/Okolina</button></a>

